body {
  background-color: #00ADEE;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

header {
  background-color: white;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-style: italic;
  box-shadow: 0px 0px 10px 0px #9196a8 inset;
  border-radius: 20px;
  position: sticky;
  top: 1vh;
}
header .adminlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .adminlink a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-style: normal;
}
header .adminlink a:hover {
  color: #00ADEE;
}

.cmsOptions {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px #9196a8 inset;
  border-radius: 20px;
}
.cmsOptions table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}
.cmsOptions th,
.cmsOptions td {
  text-align: left;
}
.cmsOptions tr:nth-child(even) {
  background-color: #d5d8e2;
}
.cmsOptions tr:hover {
  background-color: #0296cc;
  color: white;
}
.cmsOptions td a {
  text-decoration: none;
  color: black;
}
.cmsOptions tr {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
}
.cmsOptions .optionTitle {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0;
  border-bottom: 1px solid #9196a8;
}
.cmsOptions .add {
  display: flex;
  width: 10vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  font-style: italic;
  border: 1px solid #9196a8;
  border-radius: 20px;
  background-color: #9196a8;
  box-shadow: 0px 0px 10px 0px #5b5d69 inset;
  color: white;
}
.cmsOptions .add:hover {
  background-color: #d5d8e2;
  box-shadow: 0px 0px 10px 0px #9196a8 inset;
  color: black;
}
.cmsOptions .berichtcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px 0px #9196a8;
  padding: 5px;
}
.cmsOptions .berichtcontainer:hover {
  box-shadow: 0px 0px 10px 0px #9196a8;
}
.cmsOptions .berichtcontainer p {
  margin: 0;
}
.cmsOptions .berichtcontainer :nth-child(1) {
  font-weight: bold;
}
.cmsOptions .berichtcontainer :nth-child(2) {
  font-style: italic;
}
.cmsOptions .berichtcontainer :nth-child(3) {
  grid-column: 1/span 2;
  grid-row: 2;
}

input[type=radio] {
  margin-right: 5px;
  accent-color: #9196a8;
}

.cmsContainer {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px #9196a8 inset;
  border-radius: 20px;
}
.cmsContainer .cmsTitle {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0;
  border-bottom: 1px solid #9196a8;
}
.cmsContainer .gridsquare .squareTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
.cmsContainer .gridsquare form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
}
.cmsContainer .gridsquare textarea {
  resize: none;
}
.cmsContainer .gridsquare .columnSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: 100%;
}
.cmsContainer .gridsquare .columnSettings input {
  font-size: 1rem;
  border: none;
}
.cmsContainer .gridsquare .columnSettings label {
  font-size: 1rem;
  font-weight: bold;
}
.cmsContainer .gridsquare .columnSettings :nth-child(1) {
  grid-column: 1/span 2;
}
.cmsContainer .gridsquare .columnSettings :nth-child(2) {
  grid-column: 1;
}
.cmsContainer .gridsquare .columnSettings :nth-child(3) {
  grid-column: 2;
}
.cmsContainer .gridsquare .columnSettings :nth-child(4) {
  grid-column: 1/span 2;
  grid-row: 3;
}
.cmsContainer .gridsquare .row1 {
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  width: 100%;
}
.cmsContainer .gridsquare .row2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: auto;
  width: 100%;
}
.cmsContainer .gridsquare .row3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: auto;
  width: 100%;
}
.cmsContainer .gridsquare .row4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  width: 100%;
}
.cmsContainer form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}
.cmsContainer form label {
  font-size: 1.5rem;
  font-weight: lighter;
}
.cmsContainer form input {
  font-size: 1.4rem;
  font-style: italic;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #9196a8;
}
.cmsContainer form textarea {
  font-size: 1.5rem;
  font-style: italic;
  padding: 5px;
}
.cmsContainer form input[type=submit] {
  font-size: 1.5rem;
  font-style: italic;
  padding: 5px;
  border: 1px solid #9196a8;
  border-radius: 20px;
  background-color: #9196a8;
  box-shadow: 0px 0px 10px 0px #5b5d69 inset;
  color: white;
  grid-column: 2;
}
.cmsContainer form input[type=submit]:hover {
  background-color: #d5d8e2;
  box-shadow: 0px 0px 10px 0px #9196a8 inset;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #9196a8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  justify-self: end;
}
.modal-content .close:hover,
.modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content form {
  grid-column: 1/span 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}
.modal-content form p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  grid-column: 1/span 2;
}
.modal-content form label {
  font-size: 1.5rem;
  font-weight: lighter;
}
.modal-content form input, .modal-content form textarea {
  font-size: 1.4rem;
  font-style: italic;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #9196a8;
}
.modal-content form input[type=submit] {
  font-size: 1.5rem;
  font-style: italic;
  padding: 5px;
  border: 1px solid #9196a8;
  border-radius: 20px;
  background-color: #9196a8;
  box-shadow: 0px 0px 10px 0px #5b5d69 inset;
  color: white;
  grid-column: 2;
}
.modal-content form input[type=submit]:hover {
  background-color: #d5d8e2;
  box-shadow: 0px 0px 10px 0px #9196a8 inset;
  color: black;
}
.modal-content .modalTitle {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0;
  grid-column: 1/span 3;
}
.modal-content .deleteYes, .modal-content .deleteNo {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
.modal-content .deleteYes:hover, .modal-content .deleteNo:hover {
  color: #00ADEE;
}
.modal-content .deleteYes {
  grid-column: 1/span 2;
}
.modal-content .deleteNo {
  grid-column: 3/span 2;
}

.berichtcontainer {
  margin-top: -1rem;
  padding: 1rem;
  background-color: rgba(213, 216, 226, 0.462745098);
  box-shadow: 0px 0px 5px 0px #9196a8 inset;
}
.berichtcontainer .bericht {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px #9196a8;
}
.berichtcontainer .bericht:hover {
  box-shadow: 0px 0px 5px 0px rgb(74, 74, 74);
}
.berichtcontainer .bericht .verwijderen {
  grid-column: 2;
  justify-self: end;
  color: red;
}
.berichtcontainer .bericht .berichtinfo {
  display: grid;
  border-bottom: 1px solid #9196a8;
}
.berichtcontainer .bericht .berichtinfo .bericht_id {
  font-weight: lighter;
}
.berichtcontainer .bericht .berichtinfo .bericht_titel {
  grid-column: 1/span 2;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
.berichtcontainer .bericht .berichtinfo .bericht_titel :nth-child(1) {
  font-weight: bold;
}
.berichtcontainer .bericht .berichtinfo .bericht_titel :nth-child(2) {
  font-style: italic;
}
.berichtcontainer .bericht .berichtinfo .berichtTekst {
  grid-column: 1/span 2;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 1rem;
}
.berichtcontainer .bericht .berichtNotitie {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 5px 0px #9196a8;
  display: grid;
}
.berichtcontainer .bericht .berichtNotitie:hover {
  box-shadow: 1px 1px 5px 0px rgb(74, 74, 74);
}
.berichtcontainer .bericht .berichtNotitie .notitieNummer {
  font-weight: bold;
}
.berichtcontainer .bericht .berichtNotitie .notitieTekst {
  font-size: 1.1rem;
  font-weight: lighter;
  grid-column: 1/span 2;
}
.berichtcontainer .aanpassen {
  color: #015c7c;
  transition-duration: 0.4s;
}
.berichtcontainer .aanpassen:hover {
  color: #00ADEE;
}/*# sourceMappingURL=admin.css.map */