@import "./global";

.cmsOptions {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px $cms-light-grey inset;
  border-radius: 20px;

  table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
  }

  tr{
    padding-left: 0.5rem;
  }

  th,
  td {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #d5d8e2;
  }

  tr:hover {
    background-color: #0296cc;
    color: white;
  }

  td a {
    text-decoration: none;
    color: black;
  }

  .pagesRow {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
  }

  .socialsRow{
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 1fr;
    align-items: center;
  }

  .optionTitle {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: 0;
    border-bottom: 1px solid $cms-light-grey;
  }

  .add {
    display: flex;
    width: 10vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-style: italic;
    border: 1px solid $cms-light-grey;
    border-radius: 20px;
    background-color: $cms-light-grey;
    box-shadow: 0px 0px 10px 0px #5b5d69 inset;
    color: white;

    &:hover {
      background-color: #d5d8e2;
      box-shadow: 0px 0px 10px 0px $cms-light-grey inset;
      color: black;
    }
  }

  .berichtencontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh auto;
    margin-top: 1rem;
    box-shadow: 0px 0px 5px 0px $cms-light-grey;
    padding: 5px;

    &:hover {
      box-shadow: 0px 0px 10px 0px $cms-light-grey;
    }

    p {
      margin: 0;
    }

    :nth-child(1) {
      font-weight: bold;
    }

    :nth-child(2) {
      font-style: italic;
    }

    :nth-child(3) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
  }
}

