.contact {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    // height: 100%;
    gap: 10px;
    // padding-block: 50px;
    justify-content: center;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .text-fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input_box input {
            font-size: 15px;
            display: block;
            width: 100%;
            padding-inline: 5px;
            height: 40px;
            border: 1px solid #000000;
        }

    .input-text {
        display: flex;
        gap: 10px;
    }
}

.button {
    width: fit-content;
    padding-inline: 20px;
    padding-block: 5px;
    background-color: #DCBD7F;
    border: 1px solid black;
    display: flex;
    align-self: center;
    border-radius: 20px;
    transition: 0.2s;

    &:hover {
        background-color: #bba06a;
    }
}



