@import "./global";

.header {
    background-color: #DCBD7F;
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    padding-block: 16px;
    align-items: center;
    filter: drop-shadow(0px 2px 4px black);

    .logo {
         width: 16%;
    
        .logo-img {
            width: 100%;
        }
    }

    .header-links {
        display: flex;
        gap: 30px;

        .header-link {
            font-size: 22px;
            color: black;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
        }

        .header-link:hover {
            border-bottom: 2px solid black;
        }
    }
}





