@import "./global";

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overscroll-behavior: none;
}

body{
    font-family: 'Calibri', sans-serif;
}